name: backend-ci


on: 
  push:
    branches:
    - main
    - development
  pull_request:
    branches:
    - main
    - development
    
jobs:
  build:

    env:
        DJANGO_SETTINGS_MODULE: backend.settings
        # SECRET_KEY: ${{secrets.SECRET_KEY}}
        # EMAIL_HOST_USER: ${{secrets.EMAIL_HOST_USER}}
        # EMAIL_HOST_PASSWORD: ${{secrets.EMAIL_HOST_PASSWORD}}
        # HOST: localhost
        # POSTGRES_USER: postgres
        # POSTGRES_PASSWORD: postgres
        # POSTGRES_DB: postgres
        # TWILIO_ACCOUNT_SID: ${{secrets.TWILIO_ACCOUNT_SID}}
        # TWILIO_AUTH_TOKEN: ${{secrets.TWILIO_AUTH_TOKEN}}
        # TWILIO_PHONE_NUMBER: ${{secrets.TWILIO_PHONE_NUMBER}}
        # ENVIRONMENT: ${{secrets.ENVIRONMENT}}
        # APNS_AUTH_KEY_ID: ${{secrets.APNS_AUTH_KEY_ID}}
        # APNS_TEAM_ID: ${{secrets.APNS_TEAM_ID}}
        # APNS_AUTH_KEY_FILE_TEXT: ${{secrets.APNS_AUTH_KEY_FILE_TEXT}}
        # APNS_TOPIC: ${{secrets.APNS_TOPIC}}
        # REDIS_URL: ${{secrets.REDIS_URL}}
        # SKIP_SLOW_TESTS: 0
        # VERIFICATION_SERVER: ${{secrets.VERIFICATION_SERVER}}

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@v3
      - name: local-fix
        run: |
          # Hack to get setup-python to work on act
          # (see https://github.com/nektos/act/issues/251)
          if [ ! -f "/etc/lsb-release" ] ; then
            echo "DISTRIB_RELEASE=18.04" > /etc/lsb-release
          fi
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --user pipenv
          pipenv install
      - name: Test
        run: |
          pipenv run python3 manage.py migrate
          pipenv run python3 manage.py test